<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-antique-cafe.css') }}" />
</head>
<body>
  <nav id="tm-nav" class="fixed w-full">
    <div class="tm-container mx-auto px-2 md:py-6 text-right">
      <!-- Navigation items go here -->
    </div>
  </nav>

  <div id="intro" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/antique-cafe-bg-01.jpg') }}">
    <div class="container mx-auto px-2 tm-intro-width">
      <!-- Intro content goes here -->
    </div>
  </div>

  <div id="menu" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/antique-cafe-bg-02.jpg') }}">
    <div class="container mx-auto tm-container py-24 sm:py-48">
      <!-- Menu content goes here -->
    </div>
  </div>

  <div id="about" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/antique-cafe-bg-03.jpg') }}">
    <div class="container mx-auto tm-container py-24 sm:py-48">
      <!-- About content goes here -->
    </div>
  </div>

  <div id="contact" class="parallax-window relative" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/antique-cafe-bg-04.jpg') }}">
    <div class="container mx-auto tm-container pt-24 pb-48 sm:py-48">
      <!-- Contact content goes here -->
    </div>
  </div>

  <script>
    function checkAndShowHideMenu() {
      if (window.innerWidth < 768) {
        $("#tm-nav ul").addClass("hidden");
      } else {
        $("#tm-nav ul").removeClass("hidden");
      }
    }
  </script>
</body>
</html>
