<!DOCTYPE html>
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../img/fav.png">
    <!-- Author Meta -->

    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title> Apollo Coffee</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>

          <header id="header" id="home">		  	
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                  <div id="logo">
                    <a href="index.html"><img src="../img/logo.png" alt="" title="" /></a>
                  </div>
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="userindex.html">Home</a></li>
                        <li><a href="giveorder.html">Give Orders</a></li>
                        <li><a href="orders.html">Orders</a></li>

                    </ul>
                  </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>
          </header><!-- #header --> 		


        <!-- start banner Area -->
        <section class="banner-area" id="home">	
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-start">
                    <div class="banner-content col-lg-7">
                        <h6 class="text-white text-uppercase">Now you can feel the Energy</h6>
                        <h1>
                            Start your day with <br>
                            a black Coffee				
                        </h1>
                    </div>											
                </div>
            </div>
        </section>
        <!-- End banner Area -->	

        
        <!-- Start menu Area -->
        <section class="menu-area section-gap" id="coffee">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-10">
                        <div class="title text-center">
                            <h1 class="mb-10">What kind of Coffee we serve for you</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                    </div>
                </div>						
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-menu">
                            <div class="title-div justify-content-between d-flex">
                                <h4>Cappuccino</h4>
                                <p class="price float-right">
                                    $49
                                </p>
                            </div>
                            <img src="../img/g4.jpg" alt="Cappuccino" style="width:100%;">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advance.
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-menu">
                            <div class="title-div justify-content-between d-flex">
                                <h4>Americano</h4>
                                <p class="price float-right">
                                    $49
                                </p>
                            </div>
                            <img src="../img/g4.jpg" alt="Cappuccino" style="width:100%;">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advance.
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-menu">
                            <div class="title-div justify-content-between d-flex">
                                <h4>Espresso</h4>
                                <p class="price float-right">
                                    $49
                                </p>
                            </div>
                            <img src="../img/g4.jpg" alt="Cappuccino" style="width:100%;">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advance.
                            </p>								
                        </div>
                    </div>	
                    <div class="col-lg-4">
                        <div class="single-menu">
                            <div class="title-div justify-content-between d-flex">
                                <h4>Macchiato</h4>
                                <p class="price float-right">
                                    $49
                                </p>
                            </div>
                            <img src="../img/g4.jpg" alt="Cappuccino" style="width:100%;">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advance.
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-menu">
                            <div class="title-div justify-content-between d-flex">
                                <h4>Mocha</h4>
                                <p class="price float-right">
                                    $49
                                </p>
                            </div>
                            <img src="../img/g4.jpg" alt="Cappuccino" style="width:100%;">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advance.
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-menu">
                            <div class="title-div justify-content-between d-flex">
                                <h4>Coffee Latte</h4>
                                <p class="price float-right">
                                    $49
                                </p>
                            </div>
                            <img src="../img/g4.jpg" alt="Cappuccino" style="width:100%;">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advance.
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-menu">
                            <div class="title-div justify-content-between d-flex">
                                <h4>Piccolo Latte</h4>
                                <p class="price float-right">
                                    $49
                                </p>
                            </div>
                            <img src="../img/g4.jpg" alt="Cappuccino" style="width:100%;">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advance.
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-menu">
                            <div class="title-div justify-content-between d-flex">
                                <h4>Ristretto</h4>
                                <p class="price float-right">
                                    $49
                                </p>
                            </div>
                            <img src="../img/g4.jpg" alt="Cappuccino" style="width:100%;">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advance.
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-menu">
                            <div class="title-div justify-content-between d-flex">
                                <h4>Affogato</h4>
                                <p class="price float-right">
                                    $49
                                </p>
                            </div>
                            <img src="../img/g4.jpg" alt="Cappuccino" style="width:100%;">
                            <p>
                                Usage of the Internet is becoming more common due to rapid advance.
                            </p>								
                        </div>
                    </div>															
                </div>
            </div>	
        </section>


        <script src="../js/jquery-2.2.4.min.js"></script>
        <script src="../js/main.js"></script>	
    </body>
</html>



